@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background-pink, radial-gradient(50% 50% at 50% 50%, var(--Colors-Primary-100, #FAD5EE) 0%, var(--Colors-Primary-200, #F5ABDE) 100%));
  color: var(--foreground);
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}